//
//  shared.xcconfig
//  moovuptest
//
//  Created by Max on 12/9/2024.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

rest_protocol = https
api_host = api.json-generator.com
api_token = b2atclr0nk1po45amg305meheqf4xrjt9a1bo410

google_map_token = AIzaSyDmXb8SAdFdZkmeDRRibtNvetAoE5w5NNQ
